
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
header{
    width: 100%;
    height: 700px;
    background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-masthead.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 280px;
}
header>h1{
    font-size: 88px;
    font-family: "Ubuntu", sans-serif;

}
header>h3{
    font-size: 28px;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 50px;
}
header a{
    color: white;
    background-color: #1d809F;
    padding: 20px;
    border-radius: 5px;
}
.icon{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    border-radius: 5px;
    background-color: rgba(52, 58, 64, 0.5);
    position: fixed;
    top: 15px;
    right: 15px;

}
section{
    width: 100%;
    height: 500px;
    text-align: center;
    padding-top: 200px;
    background-color: white;

}
section>h1{
    font-size: 35px;
    padding-bottom: 5px;
    
}

section>p{
    font-size: 20px;
    padding-bottom: 5px;
    display: inline-block;
}
section>h4{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
    width: 13%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box1{
    width: 100%;
    height: 700px;
    background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-callout.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contac>h1{
    font-size: 70px;
    display: block;
}
.contac>p{
    font-size: 17px;
    color: white;
    background-color: blue;
    text-align: center;
    width: 10%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    border-bottom: 10px;
    line-height: 60px;
}

.box2{
    background-color: blue;
    width: 100%;
    height: 400px;
    color: white;
}

.A1{
    color: black;
    width: 10%;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    padding: 15px;
    border-bottom: 80px;
    line-height: 70px;
}
.B2{
    color: white;
    width: 10%;
    text-align: center;
    background-color: black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    padding: 15px;
    border-bottom: 80px;
    line-height: 70px;
}

    